body  {
	background-color: #f4f4f4;
	margin: 2rem;
}

.app * {
	font-family: Lato;
	color: #373737;
}

.content {
	padding-top: 50px;
}

.spellList {
	font-family: Garamond;
	text-transform: capitalize;
}